name: Save Final Link

on:
  workflow_dispatch:

jobs:
  save-link:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get final redirected URL
        run: |
          FINAL_URL=$(curl -Ls -A "Mozilla/5.0" -o /dev/null -w %{url_effective} https://gloopup.net/Delta/ios/)
          echo "$FINAL_URL" > link.txt

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add link.txt
          git commit -m "Update link.txt" || exit 0
          git push